{% extends "base.html" %}
{% load static %}

{% block title %}Zaloguj się{% endblock  %}

{% block content %}
<div id="pudlo_log_rej">
    <div style="margin-bottom: 20px;">
        <h1>Zaloguj się!</h1>
    </div>

    <form action="." method="post">
        {% csrf_token %}
        <div {% if formularz.errors or formularz.non_field_errors %}class="errors"{% endif %}>
            <div>
                <p>Podaj nazwę użytkownika</p>   
                {{ formularz.username }}
            </div>
            <div>
                <p>Podaj hasło</p>    
                {{ formularz.password }}
            </div>
        </div>


        {% if formularz.errors or formularz.non_field_errors %}
            <div class="errors">
                {{ formularz.errors }}
            </div>
        {% endif %}

        <button>Potwierdź</button>
        <p>Jeśli nie masz jeszcze konta możesz je założyć <a href="{% url 'rejestracja' %}">Tutaj!</a></p>
    </form>
</div>
{% endblock  %}