/* animacja intra */

.overlay {
    position: absolute;
    z-index: 999;
    background: white;
    width: 100%;
    height: 100%;
    animation: odslon 2s ease-in forwards;
    transform-origin: bottom;
}

@keyframes odslon {
    from {
        transform: scaleY(1)
    }
    to {
        transform: scaleY(0)
    }
}

main {
    animation: ZoomIn 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    transform: scale(.4);
}

@keyframes ZoomIn {
    to {
        transform: scale(1);
    }
}